body{
	padding:0;
	margin:0;
	background-color:#dcce8d;

}

#container{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
}

#content{
	margin-left:10px;
	margin-right:10px;
	margin-top:0px;
}

#content p{
	margin-left:15px;
}

#menu ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

#menu ul li{
	float:left;

}

#beer-map img {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#beer-dandy{
	margin: 10px auto;
	text-align: center;
	display: block;
}

#notes {
	width: 300px;
	float: left;
}

#prev {
	width: 470px;
	float: left;
}

.caption{
	background:url(../img/icon.png) no-repeat 0px 0;
	padding-left:31px;
	display: block;
	margin:30px 0 10px;
	height:50px;
	line-height:50px;
	font-weight:700;
	color:#534328;
}

#topcaption{
	margin:40px 0px 5px;

}
.left{
	margin-left:15px;
}

.clear{
	clear:both;
}

table{
	margin-left:15px;
	border-collapse:collapse;
	border-spacing:0px;
}
tr{
	border-bottom:2px solid #cc4500
}
th, td{
	text-align:left;
	vertical-align:top;
	margin:0px;
	padding:10px 50px 3px 5px;
	font-size:11pt;
	color:#505050;
}
th{
	white-space:nowrap;
	padding-right:20px;
	color:#525252;
}


h1{
	background:url(../img/icon.png);
	background-repeat:no-repeat;
	padding-left:31px;
	line-height: 170%;
	height:30px;
	font-weight:700;
	color:#534328;
	font-size:larger;	

}

ul.beerlist{
	list-style-type:none;
	margin-right:40px;
}
ul.beerlist li{
	border-bottom:#000000 1px solid;
	background: url(../img/icon_small.png);
	background-repeat:no-repeat;
	padding-left:21px;
	font-size:medium;
	font-weight:700;
	color:#330000;
}
p.award{
	padding: 0; 
	color:#990033;
	font-size:small;
}
p.detail{
	padding: 0; 
	color:#330000;
	font-size:medium;
}
ul.yatailist{
	list-style-type:none;
	margin-right:40px;
}
ul.yatailist li{
	border-bottom:#000000 1px solid;
	background: url(../img/icon_small.png);
	background-repeat:no-repeat;
	padding-left:21px;
	font-size:medium;
	font-weight:700;
	color:#330000;
}

#footer{
	float: left;
	margin-top:40px;
	font-size:12px;
	color:#808080;
	padding-bottom:15px;
	text-align:center;
	margin-bottom:20px;
	line-height:150%;
}
